*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:"Cairo",sans-serif;

}

body{

background:#f1f5f9;

padding:30px;

}

.container{

max-width:1400px;

margin:auto;

}

.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.header h1{

font-size:30px;

color:#1e293b;

}

#addBtn{

background:#2563eb;

color:#fff;

border:none;

padding:12px 25px;

border-radius:10px;

cursor:pointer;

font-size:16px;

transition:.3s;

}

#addBtn:hover{

background:#1d4ed8;

}

.search-box{

margin-bottom:25px;

}

.search-box input{

width:100%;

padding:15px;

border:1px solid #ddd;

border-radius:12px;

font-size:16px;

}

table{

width:100%;

background:#fff;

border-collapse:collapse;

border-radius:15px;

overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

th{

background:#2563eb;

color:#fff;

padding:15px;

}

td{

padding:15px;

text-align:center;

border-bottom:1px solid #eee;

}

td img{

width:90px;

height:60px;

object-fit:cover;

border-radius:10px;

}

.action{

display:flex;

justify-content:center;

gap:10px;

}

.edit{

background:#22c55e;

border:none;

color:#fff;

padding:10px 14px;

border-radius:8px;

cursor:pointer;

}

.delete{

background:#ef4444;

border:none;

color:#fff;

padding:10px 14px;

border-radius:8px;

cursor:pointer;

}

.modal{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.5);

display:none;

justify-content:center;

align-items:center;

z-index:999;

}

.modal-content{

background:#fff;

width:600px;

max-height:90vh;

overflow:auto;

padding:30px;

border-radius:15px;

}

.close{

float:left;

font-size:30px;

cursor:pointer;

}

.form-group{

display:flex;

flex-direction:column;

margin-top:15px;

}

.form-group label{

margin-bottom:8px;

font-weight:600;

}

.form-group input,

.form-group textarea,

.form-group select{

padding:12px;

border:1px solid #ddd;

border-radius:10px;

font-size:15px;

}

textarea{

height:120px;

resize:none;

}

#saveCourse{

margin-top:25px;

width:100%;

padding:15px;

background:#2563eb;

color:white;

border:none;

border-radius:12px;

font-size:18px;

cursor:pointer;

}

.lessons{
    background:#0d6efd;
    color:#fff;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
    margin-top:5px;
}

.lessons:hover{
    background:#0b5ed7;
}